html,
body {
  width: 100%;
  height: 100%;
}
table {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
td {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid gray;
  border-radius: 20%;
  cursor: pointer;
}
td:hover {
  background-color: rgb(0, 160, 139);
}

tr {
  background-color: rgb(0, 190, 165);
  text-align: center;
  font-weight: 600;
  color: white;
}
#tableTbody {
  padding: 20px;
  background-color: rgb(255, 107, 156);
  border-radius: 2.5%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
}
#btnTbody {
  display: none;
  position: relative;
  top: -17px;
  cursor: pointer;
}
#btn {
  width: 50px;
  border-radius: 10%;
  background-color: rgb(255, 107, 156);
}
.stop {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fontSize {
  font-weight: 600;
  font-size: 50px;
  color: white;
  line-height: 282px;
  animation: moving 1.5s infinite ease-in-out;
}
@keyframes moving {
  0% {
    font-size: 50px;
  }
  50% {
    font-size: 55px;
  }
  100% {
    font-size: 50px;
  }
}
